<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>201024431 김지용</h1>
        <div>
            <div class="oj-form">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Title</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:title, required: true}">
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Episode_id</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:episode_id, required: true}">
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Opening_Crawl</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:opening_crawl, required: true}">
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Director</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:director, required: true}">
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Producer</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:producer, required: true}">
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="input">Release_Data</label>
                        <input id="input" data-bind="ojComponent:
                        {component: 'ojInputText', value:release_date, required: true}">
                    </div>
                </div>
            </div>
        </div>
        <div><button data-bind="click:goBack"> go Back</button></div>
    </body>
</html>
