<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="oj-hybrid-padding">
            <h3>Home/Child 1</h3>
            <div>
                <div><button data-bind="click:goBack"> go Back</button></div>
                <div><button data-bind="click:goHome"> go Home</button></div>
                <div><button data-bind="click:goHomeChild2"> go Home/Child 2</button></div>
            </div>
        </div>
    </body>
</html>
